.all-trips-container {
  display: grid;
  padding: 10px;
  margin: 0 auto;
}

.all-trips-container .card {
  margin-bottom: 20px;
}

.card-img {
  justify-content: space-between;
  height: 30px;
  width: 30px;
}

.float-right {
  float: right;
  margin-left: 10px;
}

.trip-status.active {
  color: #23b923;
}

.trip-status.not-active {
  color: red;
}
