<div class="all-trips-container">
    <h1>All Trips</h1>
    <div class="card">
        <div class="card-body">
          This is some text within a card body.
          <img class="card-img float-right" src="https://img.icons8.com/?size=100&id=49&format=png&color=000000" alt="edit">
          <img (click)="openPopup()" class="card-img float-right" src="https://img.icons8.com/?size=100&id=67884&format=png&color=000000" alt="delete">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          This is some text within a card body.
          <img class="card-img float-right" src="https://img.icons8.com/?size=100&id=49&format=png&color=000000" alt="">
          <img class="card-img float-right" src="https://img.icons8.com/?size=100&id=67884&format=png&color=000000" alt="">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
          This is some text within a card body.
          <img class="card-img float-right" src="https://img.icons8.com/?size=100&id=49&format=png&color=000000" alt="">
          <img class="card-img float-right" src="https://img.icons8.com/?size=100&id=67884&format=png&color=000000" alt="">
        </div>
    </div>
</div>
