<!-- <div class="main">
    <div class="places">
      <div class="place-category">
        <h2 class="place-type px-4 py-2 border display-6">Hotels</h2>
        <div class="cards d-flex">
          <div
            class="card mx-3 my-3"
            style="width: 18rem"
            *ngFor="let place of filteredPlaces.Hotel"
            (click)="toggleSelection(place)"
            [ngClass]="{ selected: place.isSelected }"
          >
            <img
              [src]="place.imageUrl"
              class="card-img-top"
              alt="{{ place.place_name }}"
            />
            <div class="card-body">
              <div class="card-text d-flex justify-content-between">
                <div>{{ place.place_name }}</div>
                <div>{{ place.price | currency }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="place-category">
        <h2 class="place-type px-4 py-2 border display-6">Restaurants</h2>
        <div class="cards d-flex">
          <div
            class="card mx-3 my-3"
            style="width: 18rem"
            *ngFor="let place of filteredPlaces.Restaurant"
            (click)="toggleSelection(place)"
            [ngClass]="{ selected: place.isSelected }"
          >
            <img
              src="https://images.inc.com/uploaded_files/image/1920x1080/getty_84709618_120601.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <div class="card-text d-flex justify-content-between">
                <div>{{ place.place_name }}</div>
                <div>{{ place.price | currency }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="place-category">
        <h2 class="place-type px-4 py-2 border display-6">Museum</h2>
        <div class="cards d-flex">
          <div
            class="card mx-3 my-3"
            style="width: 18rem"
            *ngFor="let place of filteredPlaces.Museum"
            (click)="toggleSelection(place)"
            [ngClass]="{ selected: place.isSelected }"
          >
            <img
              src="https://media-cdn.tripadvisor.com/media/photo-s/1b/db/cb/76/levent-otel-dis-cephesi.jpg"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <div class="card-text d-flex justify-content-between">
                <div>{{ place.place_name }}</div>
                <div>{{ place.price | currency }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end py-5 mx-5">
      <div>
        <div class="d-flex justify-content-end">
  
        </div>
      </div>
    </div>
  </div>
   -->

@for (trip of this.routeFacadeService.userRoutes(); track $index) {
<div class="card">
  <div class="card-body">
    {{ trip | json}}
    <div
      [ngClass]="{ active: trip.statusFlag, 'not-active': !trip.statusFlag }"
      class="trip-status"
    >
      <b>{{ trip.statusFlag ? "Active" : "Not Active" }}</b>
    </div>
    <img
      class="card-img float-right"
      src="https://img.icons8.com/?size=100&id=49&format=png&color=000000"
      alt="edit"
    />
    <img
    (click)="onDeletePlace()"
      class="card-img float-right"
      src="https://img.icons8.com/?size=100&id=67884&format=png&color=000000"
      alt="delete"
    />
  </div>
</div>
}
