.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.card {
  img {
    height: 170px;
  }
}

.place-type {
  background-color: #ffefdc;
}

.selected {
  transition: 1s;
  background-color: #fb812a;
  color: white;
}
