<nav class="navbar navbar-expand-lg" id="navbarTogglerDemo">
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="float-start">
        <a class="navbar-brand" routerLink="/">Travel Planner</a>
      </div>
      
      <div class="ms-auto me-0">
        <div class="logout d-flex">
          <a class="nav-link me-2" routerLink="/login" routerLinkActive="active-link">Login</a>
          <a class="nav-link">Sign Up</a>
        </div>
      </div>
    </div>
</nav>
