<div class="container mt-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1 class="display-1">About Us</h1>
      <p class="lead">
        We are a company dedicated to providing the best services to our
        travelers.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h3>Our Mission</h3>
                <p>
                    At Travel Planner, our mission is to empower individuals and
                    organizations to seamlessly manage their travel plans with efficiency
                    and ease. We strive to simplify the complexities of travel planning by
                    providing a comprehensive platform that integrates all aspects of your
                    journey, from booking accommodations to organizing itineraries. Our
                    commitment is to deliver a user-friendly experience that enhances the
                    joy of travel and ensures every trip is memorable.
                </p>
            </div>
            <div class="col-md-5">
                <img src="../../../assets/images/about-us-value.png" style="width: 100%;"/>
            </div>
        </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-5">
                <img src="../../../assets/images/about-us-trav.png" style="width: 100%;"/>
            </div>

            <div class="col-md-7">
                <h3>Our Vision</h3>
                <p>
                    Our vision is to become the leading travel planning platform recognized
      globally for its innovation, reliability, and exceptional user
      experience. We aim to revolutionize the way people plan their travels,
      making it an enjoyable and hassle-free process.
                </p>
            </div>
        </div>
      
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
        <div class="row align-items-center">
            <div class="col-md-7">
                <h3>Our Values</h3>
                <p>
                    Customer Focus: We prioritize the needs and preferences of our users,
      ensuring that our services are tailored to provide the utmost
      satisfaction and convenience. Innovation: We embrace creativity and
      technological advancements to continuously improve our platform and
      offer cutting-edge solutions for travel planning. Integrity: We uphold
      the highest standards of honesty and transparency in all our
      interactions, building trust with our users and partners. Excellence: We
      are dedicated to delivering high-quality services and continuously
      striving for excellence in everything we do. Sustainability: We are
      committed to promoting sustainable travel practices and encouraging our
      users to make environmentally conscious choices.
                </p>
            </div>
            <div class="col-md-5">
                <img class="p-3" src="../../../assets/images/about-us-explore.png" style="width: 70%;"/>
            </div>
        </div>
      
    </div>
  </div>
</div>
