/* You can add global styles to this file, and also import other style files */
$mainThemeColor: #f9f7f5;
$mainButtonColor: #fb812a;

.orange{
    color: $mainButtonColor;
}

body {
    height: 100%;
}

.main {
    min-height: 100vh;
}

button {
    background-color: $mainButtonColor;
    border: none;
    color: #fff;
    padding: 7px 32px;
    border-radius: 6px!important;
    transition: all ease .3s;
}

button:hover {
    opacity: .8;
}